PORT=3001
JWT_SECRET=tu_secreto_jwt_aqui
ALLOWED_ORIGINS=http://localhost:5173
DB_USER=usuario_bd
DB_PASSWORD=contraseña_bd
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=nombre_bd
TURNSTILE_SECRET_KEY=tu_clave_secreta_turnstile
NOVA_INTERNAL_API_KEY=tu_clave_api_interna
